.cardA {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  border: solid rgba(255, 255, 255, 0.678) 1px;
  margin: 2rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.cardAConA {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardAsubA {
  width: 100%;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: center;
}

.cardAsubB {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin: 1rem;
}
