.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: start;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
}

.container0 {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.containerA {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  scrollbar-width: none;
}

.conAPosition {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}

.containerB {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  z-index: 0;
  box-sizing: border-box;
}

.containerC {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 2rem;
}

.containerD {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
}
