.container0 {
  width: 100%;
  height: auto;
}

.containerA {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  scrollbar-width: none;
}

.conAPosition {
  position: absolute;
  top: 0px;
}

.containerB {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  align-items: start;
  z-index: 0;
}

.containerC {
  width: 70%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 2rem;
}

.containerD {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
}

.testCon {
  width: 60%;
  height: 100%;
  border: solid red 10px;
  background-color: white;
}
