html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color:  #000000;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 4rem;
  border-bottom: solid #6d6d6d 1px;
  margin: 5px;
}

nav {
  width: 95%;
  height: 100%;
  margin: 10px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  color: #b1b1b1;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

.p1 {
  padding-left: 1rem;
  text-align: start;
  max-width: 100%;
}

.navitem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 5px;
}

.navitem:hover {
  background-color: #2b2a2a;
  border-radius: 3rem;
  height: 70%;
  border: solid #6d6d6d 1px;
  cursor: pointer;
  margin: 5pxs;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  align-items: start;
}

.content {
  margin-top: 2rem;
  height: 60%;
  width: 65%;
  border-radius: 0.5rem;
  color: #b1b1b1;
  font-size: larger;
  text-wrap: wrap;
  text-align: start;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}