html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color:  #000000;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 45rem;
  height: auto;
}

.p1 {
  width: 100%;
  height: 150%;
  text-align: center;
  font-size: 400%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: #9bff0593;
  text-shadow: 1px 1px 20px #9bff05;
  overflow-y: scroll;
  margin: 3rem;
  padding: 3rem;
}

.p::-webkit-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.p1::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  align-items: start;
}

.content {
  margin-top: 2rem;
  height: 80%;
  width: 100%;
  border-radius: 0.5rem;
  color: #b1b1b1;
  font-size: larger;
  text-wrap: wrap;
  text-align: start;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}